{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chatbox/style.css' %}">
    <title>Django Chatbox</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/polls">Polls</a></li>
                <li><a href="/todolist">ToDo App</a></li>
            </ul>
        </nav>
    </header>
    
    <main>

        <input id="userInput" type="text"> <br/>
        <input id="roomInput" type="text"> <br/>
        <input id="joinSubmit" type="button" value="Join"> <br/>

        <a href="/chatbox">Main Hall</a>

    </main>

    <script>

        document.getElementById('userInput').focus();

        document.getElementById('userInput').addEventListener('keypress', function(e) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('joinSubmit').click();
            }
        })
        document.getElementById('roomInput').addEventListener('keypress', function(e) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('joinSubmit').click();
            }
        })

        document.getElementById('joinSubmit').onclick = function(e) {
            let roomName = document.getElementById('roomInput').value;
            let userName = document.getElementById('userInput').value;

            window.location.replace('room/' + roomName + '/?username=' + userName);
        }

    </script>
</body>
</html>

