{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chatbox/style.css' %}">
    <title>Django ChatBox</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/polls">Polls</a></li>
                <li><a href="/todolist">ToDo App</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <input id="roomInputText" type="text"> <br/>
        <input id="roomInputBtn" type="button" value="Enter">

        <script>

            let input = document.getElementById('roomInputText');
            input.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById('roomInputBtn').click()
                }
            });

            document.getElementById('roomInputBtn').onclick = function(event) {
                let roomName = document.getElementById('roomInputText').value;
                window.location.pathname = '/room/' + roomName + '/';
            };

        </script>

    </main>

</body>
</html>

