{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'chatbox/style.css' %}">
    <title>Django Chatbox</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/polls">Polls</a></li>
                <li><a href="/todolist">ToDo App</a></li>
            </ul>
        </nav>
    </header>
    
    <main>

        <input id="chatInput" type="text"> <br/>
        <input id="chatSubmit" type="button" value="Send">

        <p> My username: {{ username }} </p>

        <a href="/chatbox">Main Hall</a>

    </main>

    {{ room_name|json_script:'json-roomname' }}
    {{ username|json_script:'json-username' }}

    <script>

        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);

    </script>
</body>
</html>

